{% extends "front/layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block body %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5 site-heading">
			<div class="row gx-4 gx-lg-5 gy-4 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<h1>Nicolas DENIS</h1>
					<span class="subheading">Un site de présentation</span>
				</div>
				<div class="col-md-10 col-lg-4 col-xl-5 text-center">
					<img src="/assets/img/gerdy_400x400.jpg" alt="Photo Gerdy" width="200" height="200" class="rounded-circle">
				</div>
			</div>
			<div class="row mt-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7 subheading">
					<a href="/assets/cv.pdf" target="_blank" class="link-light">Voir mon CV</a>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">

				<div>
					Dernier post
				</div>

				{% for post in latestPosts %}
					<!-- Post preview-->
					{{ include("front/includes/post-summary.html.twig") }}
					<!-- Divider-->
					<hr class="my-4"/>
				{% endfor %}

				<!-- Pager-->
				<div class="d-flex justify-content-around mb-4">
					<a class="btn btn-primary text-uppercase" href="/posts">Voir tous les posts</a>
				</div>

				<!-- Contact form -->
				<div class="my-5">
					<form id="contactForm" method="POST" action="#contactForm">
						<div class="form-floating">
							<input type="text" class="form-control" id="name" name="name" placeholder="Entrez votre nom..." value="{{ contactFormResult.values.name }}" required/>
							<label for="name">Nom</label>
							{% if contactFormResult.errors.name %}
								<div class="invalid-feedback">Le nom est requis.</div>
							{% endif %}
						</div>

						<div class="form-floating">
							<input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre adresse e-mail..." value="{{ contactFormResult.values.email }}" required/>
							<label for="email">Adresse e-mail</label>
							{% if contactFormResult.errors.emailMissing %}
								<div class="invalid-feedback">L'adresse e-mail est requise.</div>
							{% endif %}
							{% if contactFormResult.errors.emailInvalid %}
								<div class="invalid-feedback">L'adresse n'est pas valide.</div>
							{% endif %}
						</div>

						<div class="form-floating">
							<textarea class="form-control" id="message" name="message" placeholder="Entrez votre message..." style="height: 12rem" required>{{ contactFormResult.values.message }}</textarea>
							<label for="message">Message</label>
							{% if contactFormResult.errors.message %}
								<div class="invalid-feedback" data-sb-feedback="message:required">Le message ne peut pas être vide.</div>
							{% endif %}
						</div>
						<br/>

						<!-- Submit success message-->
						{% if contactFormResult.success %}
							<div id="submitSuccessMessage">
								<div class="text-center mb-3">
									<div class="fw-bolder">Message envoyé</div>
								</div>
							</div>
						{% endif %}

						<!-- Submit error message-->
						{% if contactFormResult.failure %}
							<div id="submitErrorMessage">
								<div class="text-center text-danger mb-3">Erreur lors de l'envoi.</div>
							</div>
						{% endif %}

						<!-- Submit Button-->
						<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Envoyer</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
