{% extends "front/layout.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block javascript %}
	<script defer src="/assets/js/front/passwordReset.js"></script>
{% endblock %}

{% block body %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Réinitialisation de mot de passe</h1>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div
				class="col-md-10 col-lg-8 col-xl-7">

				<!-- Sign-in form -->
				<div class="my-5">
					<form id="passwordResetEmailForm" method="POST" action="">

						<div class="form-floating">
							<input type="email" class="form-control" id="email" name="passwordResetEmailForm[email]" placeholder="E-mail" required/>
							<label for="email">E-mail</label>
						</div>

						<div id="passwordResetEmailMessage" class="d-none"></div>
						{% if passwordResetEmailError %}
							<div class="invalid-feedback">{{ passwordResetEmailError.message }}</div>
						{% endif %}
						{% if passwordResetEmailSuccess %}
							<div class="fw-bold">{{ passwordResetEmailSuccess.message }}</div>
						{% endif %}

						<!-- Submit Button-->
						<button class="btn btn-primary text-uppercase mt-4" id="submitButton" type="submit">Envoyer</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
