{% extends "email/layout.html.twig" %}

{% block body %}
	<p>Bonjour,</p>

	<p>Cet e-mail automatique a été envoyé depuis le blog de Nicolas DENIS.</p>

	<p>Merci de vérifier votre adresse email en cliquant sur le lien ci-dessous :</p>

	<p>
		<a href="{{ url }}">Vérifier mon adresse</a>
	</p>

	<p>
		Vous pouvez aussi copier-coller le lien ci-dessous :
		<br/>
		{{ url }}
	</p>

	<p>
		Merci
	</p>
{% endblock %}
