{% extends "email/layout.html.twig" %}

{% block body %}
	<p>Bonjour,</p>

	<p>Cet e-mail automatique a été envoyé depuis le blog de Nicolas DENIS.</p>

	<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

	<p>
		<a href="http://ocp5.local/passwordReset/{{ passwordResetToken }}">Réinitialiser mon mot de passe</a>
	</p>

	<p>
		Vous pouvez aussi copier-coller le lien ci-dessous :
		<br/>
		http://ocp5.local/passwordReset/{{ passwordResetToken }}
	</p>

	<p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez ignorer ce message.</p>

	<p>
		Merci
	</p>
{% endblock %}
